@charset "UTF-8";



*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(15, 45, 59);
    border-radius: 5px;
    width: 370px;
    padding: 15px;
}


#cadastro{
    position: relative;
    border-radius: 5px;
    border: 2px solid #0554F2;
    color: white;
}

legend{
    border-radius: 3px;
    text-align: center;
    background-color:#0554F2;
    padding: 5px;
}

#infos, #contato{
    display: flex;
    flex-flow: column nowrap;
}

#sexo{
    display: flex;
    flex-flow: column nowrap;
}


.text{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 17px;
    width: 100%;
    letter-spacing: 1.5px;
}

.submit{
    text-align: center;
}

#submit{
    width: 80%;
    height: 30px;
    border-radius: 13px;
    color: white;
    background-color: rgb(17, 54, 71);
}

#data_nascimento{
    width: 45%;
    height: 27px;
    border-radius: 6px;
    font-size: 0.9em;
}

#data{
    font-size: 1.1em;
}



